.to-do-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
   }
 .header{
    font-size: 40px;
    margin-bottom: 30px;
    font-weight: bold;
    
   }
body {
    background-color: darkslategrey;
}


.ad-btn,.del-btn, .mve-btn, .header{
    color:white;
    border: none;
}
.ad-btn{
    background-color: green;
    margin-left: 30px;
    padding: 8px 20px;
    border-radius: 5px;
}
.ad-btn:hover{
    background-color: rgb(115, 248, 115);
}
.del-btn{
    background-color: red;
    border-radius: 5px;
}
.del-btn:hover{
    background-color: rgb(237, 121, 121);
}
.mve-btn{
    background-color: blue;
    margin-left: 10px;
    width: 25px;
    border-radius: 5px;
    
}
.mve-btn:hover{
    background-color: rgb(129, 129, 237);
    
}
.inputs{
    padding: 10px;
    font-size: 10px;
    width: 300px;
    border: 2px solid black;
    outline: none;
    border-radius: 5px;
    margin-bottom: 20px;

}

.li{
    font-weight: bold;
    font-size: 20px;
    margin-top: 10px;
    padding: 5px;
    background-color: lightgoldenrodyellow;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 800px;
    border-radius: 5 px;
}

.text{
    flex: 1;
    color: black;
    margin-left: 20px;
    
}
.del-btn{
    padding: 5px 10px;
    margin-left:10px ;
    margin-right: 20px;
    
}
input{
  background-color: white;
  padding: 50 30;
}
.cmplt-btn{
  border-radius: 5px;
  padding: 5px 10px;
  background-color: white;
  color: black;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.cmplt-btn.clicked {
    background-color: green; 
    color: white;
  }
.priority{
    font-weight: 3px;
    font-size:small;
 color:blue;
 margin-left: 40px;
 margin-right: 40px;

}
.duedate{
    color: red;
    margin-left: 40px;
    margin-right: 40px;
    font-size: small;
}


